{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Genopedia</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{% static 'genopedia/images/favicon.ico' %}"  type="image/x-icon">
        <link rel="icon" href="{% static 'genopedia/images/favicon.ico' %}"  type="image/x-icon">
        <!-- Stylesheet -->
        <link href="{% static 'genopedia/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'genopedia/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'genopedia/css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'genopedia/css/style.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'genopedia/css/responsive.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'genopedia/fonts/fonts.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'genopedia/css/menu.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'genopedia/css/gen-one.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'genopedia/css/gen-two.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'genopedia/css/comment.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'genopedia/css/login.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'genopedia/css/offer.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'genopedia/css/style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'genopedia/css/style2.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'genopedia/plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" type="text/css" />

        <!-- jQuery -->
        <script src="{% static 'genopedia/js/jquery.min.js' %}"></script>
        <script src="{% static 'genopedia/js/responsive-pagi.js' %}"></script>
        <script src="{% static 'genopedia/js/blockUI.min.js' %}"></script>
        <script src="{% static 'genopedia/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}" ></script>
        <script src="{% static 'genopedia/js/react/react.js' %}" ></script>
        <script src="{% static 'genopedia/js/react/react-dom.js' %}" ></script>

        {% block extraHead %}
        {% endblock %}
    </head>
    <body>
        <div class="main_div">
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 logo_part">
                            <a href="{{ genome_browser_page }}">
                                <img src="{% static 'genopedia/images/logo.png' %}" alt="Genopedia" title="Genopedia"/>
                            </a>
                        </div>

                        <div class="col-md-5 col-sm-5 search_part">
                            <div class="search_s">
                                <form action="{{ genome_browser_page }}/search" method="GET">
                                    <input type="text" name="kw" id="keyword" class="form-control input-lg" placeholder="Search for Variation, gene, disease, trait, medication"/>
                                    <input type="submit" name="" value="Search" class="submit input-lg"/>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 user_login_part text-right">
                            <div class="user_name_sec">
                                <p>
                                    {% if 'userid' in user %}
                                        <div class="user_pic">
                                            <a href="/user/profile">
                                                <img src="{% static 'genopedia/images/profile_pic.jpg' %}" class="round_img"/>
                                            </a>
                                        </div>
                                        <div class="user_name_sec">
                                            <h3>
                                                <a href="/user/profile">{{ user.username }}</a>
                                            </h3>
                                            <p>
                                                <a href="/sign-out">Logout</a>
                                            </p>
                                        </div>
                                        <div style="margin-top: 10px">
                                            {% if user.private_result %}
                                                <b>Private Results: </b><span style="color: #95c809">{{ user.private_result|title }}</span><br>
                                            {% else %}
                                                <b>Private Results: </b>off
                                                <a href="/user/upload"> <span style="color: #95c809;margin-left: 10px" class="glyphicon glyphicon-upload"></span></a>
                                                <br>
                                            {% endif %}
                                            {% if user.science_filter %}
                                                <b>Science Filter: </b>
                                                {% if user.science_filter == 'strong' %}
                                                    <span style="color: #1c8804">
                                                {% elif user.science_filter == 'moderate' %}
                                                    <span style="color: #a92a00">
                                                {% elif user.science_filter == 'weak' %}
                                                    <span style="color: #ea4108">
                                                {% elif user.science_filter == 'no' %}
                                                    <span style="color: #da0707">
                                                {% endif %}
                                                  {{ user.science_filter|title }}
                                                </span>
                                                <br>
                                                <a href="/user/science-filter"><span style="font-size: 10px"> &gt;&gt; </span> Change</a>
                                            {% else %}
                                                <b>Science Filter: </b>off <br>
                                                <a href="/user/science-filter" style="color: #95c809"><span style="font-size: 10px"> &gt;&gt; </span> Activate</a>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <a role="button" href="/sign-in">Sign in</a>
                                        <span> | </span>
                                        <a role="button" href="/sign-up">Sign up</a>
                                    {% endif %}

                                </p>
                            </div>
                            </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </header>
            <!-- Navigation -->
            <nav class="nav-container">
                <div class="container">
                    <div class="menu_s">
                        <a class="toggleMenu" href="#">
                            <i class="fa fa-bars"></i>
                        </a>
                        <ul class="navi_i">
                            <li>
                                <a id="variation" href="{{ var_page }}">Variation</a>
                            </li>
                            <li>
                                <a id="gene" href="{{ gene_page }}">Gene</a>
                            </li>
                            <li>
                                <a id="trait" href="{{ trait_page }}">Trait</a>
                            </li>
                            <li>
                                <a id="disease" href="{{ dis_page }}">Disease</a>
                            </li>
                            <li>
                                <a id="treatment" href="{{ treat_page }}">Treatment</a>
                            </li>
                            <!-- GENEBAY -->
                            <li class="pull-right gb-white">
                                <a style="line-height: 35px" id="geneBay" href="{{ genebay_page }}">
                                    <span class="gene-word" style="color: #FFF">GENE</span>
                                    <span class="bay-word">BAY</span>
                                </a>
                            </li>

                            <!--Forum -->
                            <!-- <li class="pull-right gb-white">
                                <a style="line-height: 35px" id="forum" href="#">
                                    <span style="color: #FFF">Gene</span>
                                    <span class="bay-word">Forum</span>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
            {% block content %}
                {{ widget_html | safe }}
            {% endblock %}

            <!-- Footer -->
            <footer style="padding: 0px">
                <div class="bottom">
                    <div class="container">
                        <div class="row">
                            <ul class="bottom_ul">
                                <li>
                                    <span>Enter email & subscribe for our newsletter</span>
                                </li>
                                <li>
                                    <div class="newsletter">
                                        <input id="email-sub" name="email-sub" type="text" value="" class="form-control newslltr_input" placeholder="Enter email address"/>
                                        <a id='saveEmailSub' style="cursor:pointer" name="" value="newsletter" class="submit_news"></a>
                                    </div>
                                </li>
                                {% if social_network_url.facebook != '' %}
                                    <li>
                                        <a href="{{ social_network_url.facebook }}" class="icons_h facebook"></a>
                                    </li>
                                {% endif %}
                                {% if social_network_url.twitter != '' %}
                                    <li>
                                        <a href="{{ social_network_url.twitter }}" class="icons_h twitter"></a>
                                    </li>
                                {% endif %}
                                {% if social_network_url.youtube != '' %}
                                    <li>
                                        <a href="{{ social_network_url.youtube }}" class="icons_h youtube"></a>
                                    </li>
                                {% endif %}
                                {% if social_network_url.linkedin != '' %}
                                    <li>
                                        <a href="{{ social_network_url.linkedin }}" class="icons_h linkedin"></a>
                                    </li>
                                {% endif %}
                                {% if social_network_url.google_plus != '' %}
                                    <li>
                                        <a href="{{ social_network_url.google_plus }}" class="icons_h google_plus"></a>
                                    </li>
                                {% endif %}
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="container" style="min-height:220px;margin-top: 30px">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <h3 style="color: #FFF">Navigation</h3>
                            <ul>
                                <li>
                                    <a href="{{ var_page }}">» Variation</a>
                                </li>
                                <li>
                                    <a href="{{ gene_page }}">» Gene</a>
                                </li>
                                <li>
                                    <a href="{{ trait_page }}">» Trait</a>
                                </li>
                                <li>
                                    <a href="{{ dis_page }}">» Disease</a>
                                </li>
                                <li>
                                    <a href="{{ treat_page }}">» Treatment</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <h3 style="color: #FFF">Contact us</h3>
                            <p></p><p>Genopedia Headquaters<br>Saalachstrasse 92<br>5020 Salzburg<br>Austria<br>info@genopedia.com</p><p></p>
                        </div>

                        <div class="col-md-5 col-sm-5">
                            <h3 style="color: #FFF">About Genopedia</h3>
                            <p>Genopedia is an open and free database on human genetics. It's goal is to capture all that is known about humen genes, genetic diseases, mutations, genetic variations and their effects. By using crowd sourcing and Deep Genome AI (our artificial inteligence engine), all new and existing science on human genetics is scanned and captured to the best of our abilities to create this open resource for everyone. Everyone of us is unique and Genopedia attempts to tell us how.</p><p></p>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <p>&copy; Copyright all rights reserverd</p>
                            </div>
                            <div class="col-md-3 col-sm-3"></div>
                            <div class="col-md-5 col-sm-5 text-justify">
                                <ul class="copyright_ul">
                                    <li>
                                        <a href="{{frontSetting.impressionUrl}}">Impressum</a>
                                    </li>
                                    <li>|</li>
                                    <li>
                                        <a href="{{frontSetting.termOfUseUrl}}">Terms of use</a>
                                    </li>
                                    <li>|</li>
                                    <li>
                                        <a href="{{frontSetting.privacyPolicyUrl}}">Privacy policy</a>
                                    </li>
                                    <li>|</li>
                                    <li>
                                        <a href="{{frontSetting.copyrightUrl}}">Copyright policy</a>
                                    </li>
                                    <!-- <li>|</li>
                                    <li>
                                        <a href="" role="button" data-toggle='modal' data-target='#contactUsM'>Contact Us</a>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </footer>


        </div>

        <div class="container" id="lgm"></div>
        <!-- Bootstrap Js -->
        <script src="{% static 'genopedia/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'genopedia/js/menu.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
            jQuery("document").ready(function() {
                // Handle Bootstrap Popup toggle

                $('[data-toggle="popover"]').popover({ html : true });
                $('.associated').on('click', function (e) {
                    $('.associated').not(this).popover('hide');
                });
                $('body').click(function(e) {
                    if ($(e.target).data('toggle') !== 'popover'
                        && $(e.target).parents('.popover.in').length === 0) {
                        $('[data-toggle="popover"]').popover('hide');
                    }
                });
                // End-Handle Bootstrap Popup toggle
                var loading = "{% static 'genopedia/images/gif/ajax-loader.gif' %}";
                jQuery(window).scroll(function() {
                    if (jQuery(this).scrollTop() > 136) {
                        jQuery('.nav-container').addClass("f_nav");
                    } else {
                        jQuery('.nav-container').removeClass("f_nav");
                    }
                });
                jQuery('#saveEmailSub').click(function() {
                    var email = jQuery('#email-sub').val();
                    var root = this;
                    var formData = new FormData();
                    if (email.trim() != '') {
                        jQuery("body").block({
                            message: "<img src=" + loading + " />",
                            css: {
                                border: 'none',
                                backgroundColor: 'transparent',
                                color: '#fff',
                                zIndex: '10600',
                                paddingTop: '50px'
                            },
                            fadeIn: 0,
                            fadeOut: 0,
                            overlayCSS: {
                                cursor: 'wait'
                            }
                        });
                        formData.append('email', email);
                        (function(root) {
                            jQuery.ajax({
                                type: "post",
                                dataType: 'json',
                                url: '/api/emailSubscribe',
                                data: formData,
                                cache: false,
                                processData: false,
                                contentType: false,
                                success: function(result) {
                                    jQuery('body').unblock();
                                    var email = jQuery('#email-sub').val('');
                                },
                                error: function(result) {}
                            });
                        }(root));
                    }
                });
            });
        </script>

    </body>
</html>
